@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: rgb(241, 245, 249);
  }

  .stories::-webkit-scrollbar {
    display: none;
  }

  /* width */
  .friendreqpanel::-webkit-scrollbar {
    width: 5px;
  }

  /* Handle */
  .friendreqpanel::-webkit-scrollbar-thumb {
    background: #adb5bd;
    border-radius: 10px;
  }

  /* Handle on hover */
  .friendreqpanel::-webkit-scrollbar-thumb:hover {
    background: #dee2e6;
  }

  /* Modal bg */
  .modalback {
    height: calc(100vh - 64px);
  }

  .Cusinp {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #f97516;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  .Cusinp::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #f97516;
  }

  .Cusinp:checked::before {
    transform: scale(1);
  }

  .Checkinp {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #f97516;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  .Checkinp::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #f97516;
  }

  .Checkinp:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
}
